<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/api/send-email" enctype="multipart/form-data">
        {{ csrf_field }}
        <label for="To">To</label>
        <input type="text" name="To" placeholder="user@example.com">
        <label for="From">From</label>
        <input type="text" name="Subject" placeholder="Subject">
        <label for="Body">Message</label>
        <textarea name="Body" id="" cols="30" rows="10"></textarea>
        <label for="Attachments">Attachments</label>
        <input type="file" name="Attachments">
        <button type="submit">Send</button>
    </form>
</body>

</html>